
html {
	color: white;
	background-color: black;
}

h1 {
	text-align: center;
}

#canvas {
	border: solid purple;
	background-color: black;
}

#ToggleRecordButton{
	color: green;
}


table {
	width: 100%;
	border: 2px solid white;
	border-collapse: collapse;
}
th {
	border: 2px solid white;
	padding: 2px;
}
td {
	text-align: right;
	border: 1px solid white;
	padding: 2px;
}
